* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Baloo 2', cursive;
}
#submitBtn,#change-song{
    visibility: hidden;
}


#youtube{
	position:fixed;
	bottom:0%;
	width:100%;
	height:25px;
	overflow:hidden;
    z-index: 2;
    margin-top: 0px;
	filter: brightness(25%);
}

#youtube-audio img{
	padding-top: 20%;
	padding-left: 5%;
	width: 50px;
}
#youtube:hover{
    visibility: visible;
}
.banner-text {
	width: 100%;
	position: absolute;
	z-index: 1;
}

.banner-text h2 {
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin-top: 15%;
}
.banner-text h1 {
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin-top: 20px;
}

.box{
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box-song{
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(0%,-50%);
}
.input {
    padding: 10px;
    width: 50px;
    height: 50px;
    background: none;
    border: 5px solid rgb(252, 180, 255);
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 15px;
    color: #ffffff;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 30vw;
    background: #272133;
    border-radius: 10px;
}

.box-song:hover input{
    width: 30vw;
    background: #272133;
    border-radius: 10px;
}

i{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: rgb(252, 180, 255);
    transition: .2s;
}

.box:hover i{
    opacity: 0;
    z-index: -1;
}
.box-song:hover i{
    opacity: 0;
    z-index: -1;
}

.animation-area {
	background: linear-gradient(to left, #2f0741, #1c1b79);
	width: 100%;
	height: 100vh;
}

.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(204, 105, 224, 0.493);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
